.form-control{
    border-radius: 25px;
}

::placeholder{
    font-weight: 300!important;
    
}

.one-input, .two-input{
      margin-bottom: 5vh!important;  
}


form .container {
    background-color: burlywood!important;

}

.page{
    background-color: red!important;
}


