/* ANCHOR Menu */

header {
	display: flex;
	width: 100%;
	height: 10vh;
	margin: auto;
    align-items: center; 
    background-color:rgba(219, 217, 217, 0.541);
    
}

/* SECTION   Both logo and nav must be flex */
.logo-container, .nav-links{
    /* flex:1; */
    padding-bottom: 0;

}
.nav-links{
    margin-bottom: 0;
}

/* SECTION  Logo section */

.logo-container{
    flex: 1;
}

.logo-container img{
    width: 35%;
}

/* SECTION  nav section */
nav{
    /* flex:1; */
} 

.nav-links{
    justify-content: space-around;  /* NOTE  displays the flex items with space before, between, and after the lines */
    list-style: none; 

   
}

.nav-link{
    font-size: 18px;
    /* text-decoration: none; */

}

/*SECTION Link hover*/
/*NOTE  Show line at the botom of link when point at it*/
.nav-links li a:link,
.nav-links li a:visited {
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    

}

.nav-links li a:hover,
.nav-links li a:active {
    border-bottom: 2px solid #e67e22;
    
}

.row{
    /* display: inline-block; */ 
 
}

nav{
    background-color: black;
}

